

{{#if posts.length}}
<section class="post-list">
  <h2 class="margins">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li class="margins">
      {{> post-info post}}
      <a href="/edit/{{post.id}}" class="edit-link cyan">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

  <div class="new-post-button post-margin">
        <button type="submit" class="btn"><a href="/newpost">Add a Post</a></button>
  </div>
