<article>
  <a href="/dashboard"  class="black margins margin-top"> &larr; Back to dashboard</a>
  <h2 class="margins margin-top">
    Edit Post
  </h2>
  <form class="edit-post-form margins">
    <div class=>
      <label for="post-title" class="margin-top">Post Title: </label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="margin-top">
      <label for="post-content" >Post Content:</label>
    </div>
    <div>
      <textarea name="post-content" id="new-content" cols="100" rows="35">{{post.content}}</textarea>
    </div>
    <div>
       by you on {{format_date post.created_at}}
    </div>
    <button type="submit" class="margin-top">Save post</button>
    <button type="button" class="delete-post-btn margin-top" >Delete post</button>
  </form>
</article>



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
