<section class="center-page">
  <h2 class="center">Create New Post</h2>

  <form id="new-post-form"class="center new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <div><textarea id="post-content" name="post-content" rows="15" cols="50" /></textarea></div>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="../javascript/new-post.js"></script>