
<div class="margins">
  {{>post-info post}}
</div>
<div class="content margins">
  <p>{{post.content}}</p>
</div>

{{#if loggedIn}}
<form class=" margins comment-form">
  <div>
    <textarea name="comment-body" rows="6" cols="80"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments margins">
  <h3>Comments</h3>
  
  {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}