* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: darkcyan;
    margin: 5px;
}

.wrapper h1 {
    font-size: 50px;
}

a, .btn-no-style {
    
    text-decoration: none;
    color: cornsilk;
}

.wrapper nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin-right: 20px;
}

.btn-no-style {
    font-size: 15px;
    background-color: darkcyan;
    border: none;
}

.wrapper nav >* {
    padding: 10px;
}

.post-list {
    padding: 10px;
    text-align: left;
    line-height: 1.5rem;
    margin-left: 15px;
}

.post-list li {
    margin-bottom: 20px;
}

.post-list a {
    color: black
}

.post-list span {
    color: gray;
}

.login-form {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-top: 10%;
}

.login-form div {
    margin-bottom: 10px;
}

.signup-form {
    margin-left: 40%;
    margin-top: 5%;
    font-size: 20px;
}

.signup-form div {
    margin-bottom: 10px;
}

form button[type="submit"] {
    background-color: darkcyan;
    border-radius: 5px;
    box-shadow: 5px;
}

.center {
    margin-left: 40%;
    margin-top: 5%;
    font-size: 20px;
}



footer {
    position: relative;
    padding: 20px;
    background-color: darkcyan;
    color: cornsilk;
    text-align: center;
    font-size: 30px;
    height: 60px;
    margin-bottom: -10px;
}

footer div {
    position:absolute;
    bottom: 0px;
    left:0;
    right:0;
    height:60px;
}


@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
